@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#MuseoSansCyrl-500Italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#MuseoSansCyrl-900") format("svg");
  font-weight: 900;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0 auto;
  font-family: 'MuseoSansCyrl', sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #000; }

h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 700; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none;
    outline: none; }
  a:active {
    outline: none;
    text-decoration: none; }
  a:focus {
    outline: none;
    text-decoration: none; }

strong {
  font-weight: 800; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 21px; }

.text-center {
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.page-wrap {
  max-width: 768px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

.content {
  padding: 0 0 104px; }

.container {
  padding: 0 50px;
  margin: 0 auto; }

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 30px 0;
  min-height: 100vh;
  background: url(../img/home-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover; }
  .home img {
    width: 40%; }

.btn {
  display: inline-block;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 25px;
  font-weight: 300;
  color: #000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 15px 30px;
  background: #fff;
  text-align: center;
  border: none;
  outline: none; }

.btn-red {
  background: #DC243E;
  color: #fff; }
  .btn-red:active, .btn-red:focus {
    color: #fff; }

.btn-green {
  background: #879758;
  color: #fff; }
  .btn-green:active, .btn-green:focus {
    color: #fff; }

.btn-grey {
  width: 100%;
  height: 86px;
  line-height: 84px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 36px;
  padding: 0;
  text-align: center;
  background: #E2E3E7;
  color: #000; }

.home-btn {
  width: 70%;
  margin: 0 auto;
  padding-top: 10vh; }
  .home-btn .btn {
    display: block;
    margin-bottom: 20px; }

.modal-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 100; }
  .modal-wrap.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.modal {
  position: relative;
  padding: 82px 20px 30px;
  width: 80%;
  max-width: 650px;
  margin: auto;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  z-index: 110;
  background: url(../img/modal-bg.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  background-color: #fff; }

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  font-family: sans-serif;
  color: #2B4854;
  font-weight: 300;
  border: 2px solid #2B4854;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  outline: none; }
  .modal-close:active, .modal-close:focus {
    outline: none; }
  .modal-close span {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 40px;
    line-height: 40px; }

.modal-body {
  width: 100%;
  text-align: center; }
  .modal-body img {
    display: block;
    margin: 0 auto 30px; }

.red-title {
  display: block;
  margin-bottom: 60px;
  text-align: center;
  font-size: 37px;
  font-weight: 700; }
  .red-title span {
    position: relative;
    padding: 15px 35px;
    background: #DC243E;
    color: #fff; }
    .red-title span + br + span {
      top: 15px; }

.footnote {
  font-size: 18px;
  text-align: center; }

header {
  position: relative;
  height: 86px;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2F1340; }
  header .logo {
    max-width: 37px; }

.header-city__box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2F1340;
  z-index: 100; }
  .header-city__box.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.btn-back {
  border: none;
  outline: none;
  background-color: transparent; }
  .btn-back img {
    display: block;
    max-width: 29px; }

.header-city__curent {
  position: relative;
  display: block;
  padding: 0 15px 0 0;
  font-size: 26px;
  color: #fff; }
  .header-city__curent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 14px;
    width: 9px;
    height: 7px;
    background: url(../img/arrow-down-ic.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }

.header-city__list {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  padding-top: 25px;
  list-style: none;
  background: #fff;
  z-index: 100; }
  .header-city__list li {
    padding: 0 40px; }
    .header-city__list li a {
      position: relative;
      display: block;
      font-size: 36px;
      color: #000;
      padding: 25px 0 25px 40px; }
      .header-city__list li a::before {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        width: 10px;
        height: 10px;
        background: #DC243E;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
    .header-city__list li.active {
      background: #F5F8FB; }

.search-form {
  position: relative;
  width: 70%; }
  .search-form input {
    width: 100%;
    padding: 0 60px 0 40px;
    height: 48px;
    background: #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border: none;
    outline: none;
    font-size: 25px;
    color: #000; }
  .search-form button {
    position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    outline: none;
    background-color: transparent; }
    .search-form button img {
      max-width: 31px; }

.header-close {
  border: none;
  outline: none;
  background-color: transparent; }
  .header-close img {
    display: block;
    max-width: 35px; }

.promocode-btn {
  display: inline-block;
  width: 255px;
  height: 48px;
  line-height: 46px;
  text-align: center;
  background: #fff;
  font-size: 26px;
  color: #000;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.header-tel {
  display: inline-block;
  max-width: 42px; }
  .header-tel img {
    display: block; }

.promocode-box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2F1340;
  z-index: 100; }
  .promocode-box.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .promocode-box input {
    width: 250px;
    padding: 0 10px;
    height: 48px;
    background: #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 25px;
    color: #000; }

.icon-check {
  position: absolute;
  right: 140px;
  top: 24px;
  width: 44px;
  height: 36px;
  background: url(../img/check-ic.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.content {
  margin: 0 auto;
  max-width: 768px; }

.slick-slide {
  outline: none; }

.top-slider {
  max-width: 768px;
  margin: 0 auto; }

.top-slider__item img {
  display: block; }

.menu-rolls {
  padding: 10px 0;
  list-style: none;
  text-align: center;
  background: #f5f8fb; }
  .menu-rolls li {
    display: inline-block;
    margin: 0 28px; }
    .menu-rolls li a {
      display: block;
      padding: 5px 0;
      font-size: 26px;
      color: #000; }
    .menu-rolls li.active a {
      border-bottom: 3px solid #DC243E; }

.product-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  padding: 20px 0; }
  .product-item:first-child {
    margin-bottom: 0; }
  .product-item:nth-child(even) {
    background: #f5f8fb; }

.product-item__img {
  position: relative;
  width: 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .product-item__img img {
    display: inline-block; }

.product-like {
  position: absolute;
  top: 0;
  right: 15px;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e2e3e7;
  font-size: 17px;
  font-weight: 700;
  color: #fff; }
  .product-like::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 30px;
    background: url(../img/like-ic.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  .product-like.active {
    background: #879758; }

.product-item__info {
  width: 50%;
  padding: 0 15px; }

.product-item__name {
  min-height: 80px;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700; }

.plus-minus {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .plus-minus button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #e9eaed;
    vertical-align: middle;
    border: none;
    outline: none; }
    .plus-minus button span {
      font-size: 26px; }
    .plus-minus button:active {
      color: #fff;
      background: #879758; }

.plus-minus__count {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  font-size: 25px; }

.product-item__weight {
  font-size: 26px; }

.product-item__info .btn {
  padding: 11px 0;
  width: 190px;
  font-size: 28px;
  font-weight: 700; }

.product-item__info .plus-minus__count {
  margin-bottom: 25px; }

.product-item__info .justify-align {
  max-width: 290px; }

.rolls-gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90px;
  background: #20373f; }

.rolls-gift__title {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 700;
  color: #fff; }

.rolls-gift__runner {
  position: relative;
  width: 60%; }

.rolls-gift__price {
  position: absolute;
  top: 28px;
  width: 91px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 100;
  text-align: center; }
  .rolls-gift__price span {
    position: relative;
    display: inline-block;
    padding: 5px 8px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    background: #fff;
    font-size: 21px;
    z-index: 10; }
  .rolls-gift__price::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    width: 100%;
    height: 7px;
    background: #fff; }

.rolls-gift__fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: #DC243E; }

footer {
  position: fixed;
  max-width: 768px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100; }

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }
  .main-menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 104px; }
    .main-menu li a {
      position: relative;
      display: block;
      padding: 0 30px;
      font-size: 26px;
      text-transform: uppercase; }
    .main-menu li.active {
      background: #e2e3e7; }
      .main-menu li.active a::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 70%;
        bottom: -6px;
        height: 2px;
        background: #DC243E; }

.product-cart {
  padding: 30px  0 0; }

.product-cart__img {
  position: relative;
  padding: 0 50px 140px;
  text-align: center; }
  .product-cart__img .back-btn {
    position: absolute;
    left: 50px;
    top: 0;
    width: 29px; }
  .product-cart__img .product-like {
    right: 50px; }

.my-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 218px;
  height: 133px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f8fb;
  -webkit-border-radius: 40px 0 0 40px;
          border-radius: 40px 0 0 40px; }
  .my-cart img {
    max-width: 81px; }
  .my-cart span {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 46px;
    height: 46px;
    font-weight: 700;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #DC243E;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 17px;
    color: #fff; }

.product-cart__info {
  padding: 0 50px; }
  .product-cart__info p {
    margin-bottom: 20px; }
  .product-cart__info .plus-minus {
    margin-bottom: 25px; }

.additives {
  margin-bottom: 30px; }

.additives-item {
  padding: 10px;
  margin-bottom: 12px;
  background: #E9EAED;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .additives-item:last-child {
    margin-bottom: 0; }
  .additives-item button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #DC243E;
    vertical-align: middle;
    border: none;
    outline: none; }
    .additives-item button.bg-green {
      background: #879758; }
    .additives-item button span {
      font-size: 34px;
      color: #fff; }
  .additives-item .btn {
    width: 130px;
    padding: 0;
    height: 50px;
    line-height: 50px;
    font-weight: bold; }
  .additives-item > span {
    width: 68%;
    font-size: 26px; }

.bg-green {
  background: #879758; }

.product-cart__total {
  margin-bottom: 30px;
  text-align: right; }
  .product-cart__total > span {
    display: inline-block;
    padding: 0 20px 0 0;
    vertical-align: middle;
    font-size: 26px; }
  .product-cart__total .btn {
    width: 215px;
    height: 72px;
    line-height: 70px;
    font-size: 28px;
    font-weight: bold;
    padding: 0; }

.header-current > a {
  max-width: 29px;
  display: inline-block;
  vertical-align: middle; }
  .header-current > a img {
    display: block; }

.header-current > span {
  display: inline-block;
  padding: 0 0 0 20px;
  vertical-align: middle;
  font-size: 35px;
  color: #fff; }

.header-current + .promocode .promocode-btn {
  position: relative;
  left: 30px; }

.cart-item__wrap {
  padding: 0 50px 30px; }

.cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 0;
  border-bottom: 3px solid #F5F8FB; }
  .cart-item:last-child {
    border-bottom: none; }

.cart-item__img {
  width: 30%;
  text-align: center; }

.cart-item__info {
  position: relative;
  width: 70%;
  padding: 0 0 0 30px; }

.cart-item__name {
  padding: 0 40px 0 0;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 700; }

.cart-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 40px;
  font-family: sans-serif;
  color: #879758;
  font-weight: 300;
  border: 2px solid #879758;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  outline: none; }
  .cart-item__remove:active, .cart-item__remove:focus {
    outline: none; }
  .cart-item__remove span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }

.cart-item__count .plus-minus button {
  width: 45px;
  height: 45px; }
  .cart-item__count .plus-minus button span {
    font-size: 38px; }
  .cart-item__count .plus-minus button:last-of-type span {
    position: relative;
    top: -2px; }

.cart-item__count .plus-minus__count {
  font-size: 36px; }

.cart-item__price {
  position: relative;
  margin: 0 0 0 30px;
  font-size: 36px; }
  .cart-item__price::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background: #EFF0F2; }

.cart .additives {
  margin-bottom: 50px; }

.radio-box {
  padding-bottom: 30px; }
  .radio-box h2 {
    margin-bottom: 40px; }

.radio-list {
  list-style: none; }
  .radio-list li {
    margin: 0 0 25px; }
  .radio-list [type="radio"]:checked, .radio-list [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    position: relative;
    margin: 0;
    padding: 0 0 0 60px;
    cursor: pointer;
    font-size: 26px; }
  .radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 43px;
    height: 43px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #E9EEF3; }
  .radio-list [type="radio"]:checked + label:after {
    content: '';
    width: 29px;
    height: 29px;
    background: #DC243E;
    position: absolute;
    top: 0;
    left: 7px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .radio-list [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1); }

.cart-total {
  padding: 40px 50px;
  text-align: right;
  border-top: 3px solid #2F1340; }
  .cart-total span {
    font-size: 36px; }
  .cart-total strong {
    font-size: 36px;
    font-weight: 700;
    color: #DC243E; }

.footer-btn__wrap {
  padding: 20px 50px;
  background: #F5F8FB; }
  .footer-btn__wrap .btn {
    width: 100%;
    padding: 0;
    height: 64px;
    line-height: 62px;
    font-size: 30px;
    -webkit-border-radius: 8px;
            border-radius: 8px; }

.payment {
  padding: 60px 0 0; }
  .payment h3 {
    margin-bottom: 50px; }
  .payment .btn-grey {
    display: block;
    margin-top: 50px; }

.card {
  padding: 60px 0 0; }
  .card p {
    margin-bottom: 50px;
    text-align: center; }

.form-input {
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin-bottom: 60px;
  font-size: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #E4E5E9; }
  .form-input:focus {
    outline: none; }

.switch-box {
  margin-bottom: 60px; }
  .switch-box > span {
    font-size: 36px; }

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 54px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

.switch-toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-border-radius: 50px;
          border-radius: 50px; }
  .switch-toggler:before {
    position: absolute;
    content: "";
    height: 48px;
    width: 48px;
    left: 5px;
    bottom: 3px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

input:checked + .switch-toggler {
  background-color: #879758; }

input:not(:checked)::before {
  left: 10px; }

input:checked + .switch-toggler:before {
  -webkit-transform: translateX(43px);
      -ms-transform: translateX(43px);
          transform: translateX(43px); }

.card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 70px; }
  .card-img img {
    display: inline-block;
    margin: 0 20px; }

.delivery {
  padding: 60px 0 0; }

.tabs-nav {
  margin-bottom: 50px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .tabs-nav li {
    width: 50%;
    display: inline-block; }
    .tabs-nav li a {
      position: relative;
      display: block;
      padding: 0 0 15px;
      font-size: 36px;
      text-transform: uppercase; }
      .tabs-nav li a.active {
        color: #404040; }
        .tabs-nav li a.active::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: #DC243E; }

.tabs-items {
  padding: 0 50px; }

.tabs-item {
  display: none; }
  .tabs-item.active {
    display: block; }

.delivery-form h3 {
  margin-bottom: 15px; }

.time-ic {
  position: relative;
  padding: 0 0 0 65px;
  font-size: 26px; }
  .time-ic::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 44px;
    height: 44px;
    background: url(../img/clock-ic.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }

.select-box__wrap {
  position: relative;
  height: 96px; }

.select-box {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: -50px;
  left: -50px;
  padding: 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(52%, #f6f6f6), to(#ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 52%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 52%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 52%, #ededed 100%); }
  .select-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0; }
  .select-box::after {
    content: '';
    position: absolute;
    right: 50px;
    top: 40px;
    width: 33px;
    height: 18px;
    background: url(../img/arrow-bottom.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .select-box select {
    position: absolute;
    padding: 0 0 0 50px;
    left: 0;
    right: 0;
    width: 120%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 36px; }

.pickup-form .radio-list {
  margin: 30px 0; }

.pickup-form .btn-grey {
  padding: 0 70px;
  width: auto;
  margin-bottom: 50px; }

.time-box {
  margin: 50px 0 50px; }

.time-item {
  width: 100px;
  margin-right: 20px; }

.time-item__wrap {
  padding: 15px 0 0 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.time-item__number {
  font-size: 36px; }

.time-item__btn {
  width: 40px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .time-item__btn button {
    width: 100%;
    height: 29px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #e9eef3;
    border: none;
    outline: none; }
    .time-item__btn button img {
      width: 14px;
      display: block; }

.order-details {
  padding: 50px 50px 0; }
  .order-details h3 {
    margin-bottom: 20px; }
  .order-details .form-input {
    height: 60px;
    margin-bottom: 50px; }
  .order-details textarea.form-input {
    height: 180px; }
  .order-details .plus-minus {
    margin-bottom: 50px; }

textarea.form-input {
  padding: 5px 10px;
  margin-bottom: 40px;
  height: 180px;
  line-height: normal;
  border: 3px solid #E4E5E9;
  font-size: 20px; }

.order-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px; }
  .order-check > label.switch {
    margin: 0 20px; }
  .order-check > span {
    font-size: 36px; }

.privacy-policy {
  margin-bottom: 50px;
  text-align: center; }
  .privacy-policy a {
    position: relative;
    display: inline-block; }
    .privacy-policy a::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 1px;
      background: #000; }

.sea-bg {
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-calc(100vh - 190px);
  min-height: calc(100vh - 190px);
  background: url(../img/sea-bg.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .sea-bg .logo-big {
    display: inline-block; }
    .sea-bg .logo-big img {
      max-width: 54%;
      display: block;
      margin: 0 auto; }
  .sea-bg h2 {
    margin: 50px 0;
    text-align: center; }
  .sea-bg .btn {
    display: block;
    max-width: 428px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 35px;
    height: 86px;
    line-height: 84px; }

.profile-phone {
  margin-bottom: 70px;
  text-align: center; }
  .profile-phone:last-of-type {
    margin-bottom: 0; }
  .profile-phone h3 {
    margin-bottom: 30px;
    font-size: 28px; }
  .profile-phone .form-input {
    margin-bottom: 50px;
    font-size: 28px;
    text-align: center; }

.header-plus {
  display: inline-block;
  max-width: 60px; }
  .header-plus img {
    display: block; }

.pointer-img {
  width: 22%; }

*::-webkit-input-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.form *::-webkit-input-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.form *:-moz-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.form *::-moz-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.form *:-ms-input-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.card-form *::-webkit-input-placeholder {
  color: #000; }

.card-form *:-moz-placeholder {
  color: #000; }

.card-form *::-moz-placeholder {
  color: #000; }

.card-form *:-ms-input-placeholder {
  color: #000; }

.profile-number__form *::-webkit-input-placeholder {
  font-size: 28px;
  color: #000;
  text-align: center; }

.profile-number__form *:-moz-placeholder {
  font-size: 28px;
  color: #000;
  text-align: center; }

.profile-number__form *::-moz-placeholder {
  font-size: 28px;
  color: #000;
  text-align: center; }

.profile-number__form *:-ms-input-placeholder {
  font-size: 28px;
  color: #000;
  text-align: center; }

.edit-btn {
  width: 72px;
  border: none;
  outline: none;
  background-color: transparent; }

.edit-ic {
  position: relative;
  display: block;
  width: 72px;
  height: 72px;
  background-color: #e2e3e7;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .edit-ic::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 41px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../img/edit-ic.png);
    -webkit-background-size: contain;
            background-size: contain; }

.user-list {
  padding: 0 0 30px;
  list-style: none; }
  .user-list li {
    padding: 50px 50px; }
    .user-list li:nth-child(even) {
      background: #f5f8fb; }
    .user-list li h4 {
      font-size: 21px;
      color: #797979; }
    .user-list li textarea {
      width: 100%;
      padding: 0;
      height: auto;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 35px;
      line-height: 44px;
      resize: none; }
    .user-list li input {
      width: 100%;
      padding: 0;
      height: 50px;
      font-size: 35px;
      background-color: transparent;
      height: auto;
      border: none;
      outline: none;
      border-bottom: 2px solid transparent; }
    .user-list li.active .edit-btn .edit-ic {
      background: #DC243E; }
      .user-list li.active .edit-btn .edit-ic::before {
        background: url(../img/edit-ic-white.png);
        -webkit-background-size: contain;
                background-size: contain; }
    .user-list li.active textarea {
      background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 42px, #DC243E 42px, #DC243E 44px, white 44px);
      background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 42px, #DC243E 42px, #DC243E 44px, white 44px);
      background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 42px, #DC243E 42px, #DC243E 44px, white 44px);
      -webkit-background-size: 100% 100%, 100% 100%, 100% 44px;
              background-size: 100% 100%, 100% 100%, 100% 44px;
      line-height: 44px; }
    .user-list li.active input {
      border-color: #DC243E; }

.user-list__info {
  width: -webkit-calc(100% - 72px);
  width: calc(100% - 72px);
  padding: 0 0 0 25px; }

.settings {
  padding-bottom: 30px; }
  .settings .switch-box {
    margin: 50px 0; }
    .settings .switch-box > span {
      font-size: 35px; }
  .settings .btn {
    padding: 15px 75px;
    font-size: 35px; }

.header-settings {
  display: inline-block;
  max-width: 51px; }
  .header-settings img {
    display: block; }

.profile-name {
  padding: 45px 50px;
  border-bottom: 2px solid #F5F8FB; }
  .profile-name h2 {
    margin-bottom: 15px;
    font-weight: 700; }
  .profile-name span {
    font-size: 26px; }

.profile-address {
  padding: 30px 50px;
  border-bottom: 2px solid #F5F8FB; }
  .profile-address span {
    font-size: 35px; }

.profile-story {
  padding-bottom: 30px; }
  .profile-story h2 {
    padding: 40px 50px; }

table {
  width: 100%;
  border-collapse: collapse; }
  table tr td {
    padding: 20px 10px;
    font-size: 21px;
    vertical-align: middle; }
    table tr td:first-child {
      padding-left: 50px; }
    table tr td:last-child {
      padding-right: 50px; }
  table tr:nth-child(odd) td {
    background: #f5f8fb; }
  table tr.unconfirmed td {
    background: #F5F8FB;
    color: #879758; }
    table tr.unconfirmed td > span {
      color: #879758; }
    table tr.unconfirmed td .story-number {
      background: #fff;
      color: #E2E3E7; }
  table .btn {
    min-width: 150px;
    padding: 12px 22px;
    height: auto;
    line-height: normal;
    font-size: 21px; }

.story-number {
  display: inline-block;
  width: 43px;
  height: 43px;
  line-height: 41px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  background: #E2E3E7;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.story-name {
  width: 240px;
  display: block; }

.story-date {
  display: block;
  color: #afb1b3; }

.story-status {
  color: #afb1b3; }

.color-green {
  color: #879758; }

.contacts {
  padding: 70px 0 0;
  min-height: -webkit-calc(100vh - 104px);
  min-height: calc(100vh - 104px); }
  .contacts .container {
    width: 100%; }
  .contacts .btn-red {
    margin-bottom: 70px; }

.contacts-img {
  display: block;
  margin: 0 auto 50px;
  width: 30%; }

.contacts-item {
  margin-bottom: 30px; }
  .contacts-item h3 {
    margin-bottom: 15px; }

.contacts-item__icon {
  padding: 0 0 0 55px;
  font-size: 35px; }

.icon-tel, .icon-mail {
  position: relative; }
  .icon-tel::before, .icon-mail::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 35px;
    height: 35px; }

.icon-tel::before {
  background: url(../img/tel-ic.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.icon-mail::before {
  background: url(../img/mail-ic.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.soc-btn {
  list-style: none; }
  .soc-btn li {
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle; }
    .soc-btn li a {
      display: block;
      max-width: 68px; }
      .soc-btn li a img {
        display: block; }

.btn-gradient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  width: 100%;
  padding: 0 50px;
  font-size: 36px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(52%, #f6f6f6), to(#ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 52%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 52%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 52%, #ededed 100%); }

@media only screen and (max-width: 768px) {
  .content {
    padding: 0 0 80px; }
  header {
    height: 64px; }
    header .logo {
      max-width: 26px; }
  .header-city__curent {
    font-size: 18px; }
    .header-city__curent::before {
      top: 11px;
      width: 7px;
      height: 5px; }
  .promocode-btn {
    display: block;
    width: 182px;
    height: 34px;
    line-height: 34px;
    font-size: 18px; }
  .header-tel {
    max-width: 30px; }
  .menu-rolls li {
    margin: 0 15px; }
    .menu-rolls li.active a {
      border-width: 2px; }
    .menu-rolls li a {
      padding: 2px 0;
      font-size: 18px; }
  .product-item {
    padding: 15px 0;
    margin-bottom: 15px; }
  .product-like {
    width: 46px;
    height: 46px;
    font-size: 12px; }
    .product-like::before {
      width: 23px;
      height: 22px; }
  .product-item__name {
    min-height: 60px;
    font-size: 23px;
    line-height: 24px; }
  .plus-minus button {
    width: 25px;
    height: 25px; }
    .plus-minus button span {
      font-size: 18px; }
  .plus-minus__count {
    padding: 0 8px;
    font-size: 18px; }
  .product-item__info .plus-minus__count {
    margin-bottom: 20px; }
  .product-item__weight {
    font-size: 18px; }
  .product-item__info .btn {
    padding: 8px 0;
    width: 135px;
    font-size: 20px; }
  .rolls-gift {
    height: 65px; }
  .rolls-gift__title {
    font-size: 20px; }
  .rolls-gift__price {
    top: 19px;
    width: 67px; }
    .rolls-gift__price::before {
      height: 5px; }
    .rolls-gift__price span {
      font-size: 15px; }
  .main-menu li {
    height: 75px; }
    .main-menu li a {
      font-size: 18px; }
  .promocode-box input {
    width: 180px;
    height: 34px;
    font-size: 18px; }
  *::-webkit-input-placeholder {
    font-size: 18px; }
  *:-moz-placeholder {
    font-size: 18px; }
  *::-moz-placeholder {
    font-size: 18px; }
  *:-ms-input-placeholder {
    font-size: 18px; }
  .header-close img {
    max-width: 25px; }
  .icon-check {
    position: absolute;
    right: 120px;
    top: 19px;
    width: 32px;
    height: 25px; }
  .search-form input {
    padding: 0 40px 0 30px;
    height: 34px;
    font-size: 18px; }
  .search-form button {
    right: 15px;
    top: 4px; }
    .search-form button img {
      max-width: 22px; }
  .btn-back img {
    max-width: 21px; }
  .header-city__box {
    padding: 0 25px; }
  .header-city__list {
    top: 64px;
    padding-top: 10px; }
    .header-city__list li a {
      padding: 15px 0 15px 30px;
      font-size: 25px; }
      .header-city__list li a::before {
        width: 6px;
        height: 6px; }
  .product-cart {
    padding: 20px 0 0; }
  .product-cart__info {
    padding: 0 30px; }
  .product-cart__img {
    padding: 20px 30px 120px; }
    .product-cart__img .back-btn {
      left: 30px;
      width: 21px; }
    .product-cart__img .product-like {
      right: 30px; }
  .my-cart {
    width: 155px;
    height: 95px;
    -webkit-border-radius: 30px 0 0 30px;
            border-radius: 30px 0 0 30px; }
    .my-cart img {
      max-width: 58px; }
    .my-cart span {
      top: 10px;
      right: 33px;
      width: 33px;
      height: 33px;
      font-size: 12px; }
  h1 {
    font-size: 25px; }
  p {
    font-size: 15px; }
  .additives {
    margin-bottom: 20px; }
  .additives-item button {
    width: 33px;
    height: 33px; }
    .additives-item button span {
      font-size: 24px; }
  .additives-item .btn {
    width: 94px;
    height: 38px;
    line-height: 38px;
    font-size: 18px; }
  .additives-item > span {
    width: 68%;
    font-size: 18px; }
  .product-cart__total .btn {
    width: 154px;
    height: 52px;
    line-height: 52px;
    font-size: 20px; }
  .product-cart__total > span {
    font-size: 18px; }
  .header-current > a {
    max-width: 21px; }
  .header-current > span {
    font-size: 25px; }
  .cart-item__name {
    font-size: 18px; }
  .cart-item__remove {
    width: 34px;
    height: 34px;
    font-size: 32px;
    line-height: 32px; }
  .cart-item .plus-minus button {
    width: 34px;
    height: 34px; }
    .cart-item .plus-minus button span {
      font-size: 24px; }
  .cart-item .plus-minus__count {
    padding: 0 8px;
    font-size: 24px; }
  .cart-item__price {
    font-size: 25px; }
    .cart-item__price::before {
      height: 2px;
      bottom: -1px; }
  .cart-item {
    padding: 20px 0;
    border-width: 2px; }
  h2 {
    font-size: 25px; }
  .radio-box h2 {
    margin-bottom: 30px; }
  .radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    font-size: 18px;
    padding: 0 0 0 44px; }
  .radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    top: -6px;
    width: 32px;
    height: 32px; }
  .radio-list [type="radio"]:checked + label:after {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 6px; }
  .cart-total span {
    font-size: 25px; }
  .cart-total strong {
    font-size: 25px; }
  .footer-btn__wrap {
    padding: 15px 30px; }
  .footer-btn__wrap .btn {
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
  .cart-total {
    padding: 30px 30px;
    border-width: 2px; }
  .container {
    padding: 0 30px; }
  .cart .plus-minus button {
    width: 25px;
    height: 25px; }
    .cart .plus-minus button span {
      font-size: 18px; }
  .cart .plus-minus__count {
    font-size: 18px;
    margin: 0; }
  .cart-item__info {
    padding: 0 0 0 15px; }
  .cart-item__price {
    font-size: 18px;
    margin: 0 0 0 15px; }
  .sea-bg {
    padding: 30px 0; }
    .sea-bg .btn {
      height: 60px;
      line-height: 58px;
      font-size: 25px; }
    .sea-bg h2 {
      font-size: 25px;
      margin: 35px 0; }
  .order-details {
    padding: 30px 30px 0; }
    .order-details h3 {
      font-size: 18px;
      margin-bottom: 15px; }
  .form-input {
    font-size: 20px; }
  .order-details .form-input {
    margin-bottom: 30px;
    height: 50px;
    border-width: 2px; }
  .order-details textarea.form-input {
    height: 140px; }
  .order-details .plus-minus__count {
    font-size: 20px;
    line-height: 33px; }
  .order-details .plus-minus {
    margin-bottom: 30px; }
    .order-details .plus-minus button {
      width: 33px;
      height: 33px;
      font-size: 20px; }
      .order-details .plus-minus button span {
        font-size: 22px;
        line-height: 22px; }
  .order-check {
    margin-bottom: 50px; }
    .order-check > span {
      font-size: 25px; }
  .switch {
    width: 72px;
    height: 39px; }
  .switch-toggler:before {
    height: 33px;
    width: 33px;
    left: 4px;
    bottom: 3px; }
  input:checked + .switch-toggler:before {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px); }
  .privacy-policy {
    margin-bottom: 30px; }
  .tabs-nav {
    margin-bottom: 30px; }
    .tabs-nav li a {
      padding-bottom: 10px;
      font-size: 25px; }
  .delivery {
    padding: 30px 0 10px; }
  h3 {
    font-size: 18px; }
  .tabs-items {
    padding: 0 30px; }
  .form *::-webkit-input-placeholder {
    font-size: 25px; }
  .form *:-moz-placeholder {
    font-size: 25px; }
  .form *::-moz-placeholder {
    font-size: 25px; }
  .form *:-ms-input-placeholder {
    font-size: 25px; }
  .form-input {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px; }
  h3.time-ic {
    padding: 0 0 0 46px;
    margin: 15px 0;
    font-size: 18px; }
    h3.time-ic::before {
      width: 32px;
      height: 32px;
      top: -4px; }
  .select-box__wrap {
    height: 69px; }
  .select-box {
    right: -30px;
    left: -30px;
    padding: 0 30px;
    font-size: 25px; }
    .select-box::after {
      width: 24px;
      height: 13px;
      right: 30px;
      top: 30px; }
    .select-box select {
      padding: 0 0 0 30px;
      font-size: 25px; }
  .pickup-form .btn-grey {
    padding: 0 50px;
    margin-bottom: 30px; }
  .btn-grey {
    height: 62px;
    line-height: 62px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    font-size: 25px; }
  .time-item__wrap {
    padding: 0 0 0 48px; }
  .time-box {
    margin: 30px 0 30px; }
  .time-item {
    width: 70px; }
  .time-item__btn {
    width: 29px;
    height: 46px; }
    .time-item__btn button {
      height: 21px; }
  .time-item__number {
    font-size: 25px; }
  .card {
    padding: 40px 0 0; }
  .switch-box {
    margin: 20px 0 40px; }
    .switch-box > span {
      font-size: 25px; }
  .card-img {
    padding: 50px 0 30px; }
  .payment {
    padding: 40px 0 0; }
    .payment h3 {
      margin-bottom: 30px; }
  .profile-phone {
    margin-bottom: 40px; }
    .profile-phone h3 {
      margin-bottom: 20px;
      font-size: 20px; }
    .profile-phone .form-input {
      margin-bottom: 25px;
      font-size: 20px; }
  .profile-number__form *::-webkit-input-placeholder {
    font-size: 18px; }
  .profile-number__form *:-moz-placeholder {
    font-size: 18px; }
  .profile-number__form *::-moz-placeholder {
    font-size: 18px; }
  .profile-number__form *:-ms-input-placeholder {
    font-size: 18px; }
  .header-plus {
    max-width: 44px; }
  .edit-btn {
    width: 52px; }
  .edit-ic {
    width: 52px;
    height: 52px; }
    .edit-ic::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px; }
  .user-list {
    padding: 0 0 20px; }
    .user-list li {
      padding: 30px 30px; }
      .user-list li h4 {
        font-size: 16px; }
      .user-list li textarea {
        font-size: 25px;
        line-height: 36px; }
      .user-list li input {
        font-size: 25px; }
      .user-list li.active textarea {
        background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 34px, #DC243E 34px, #DC243E 36px, white 36px);
        background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 34px, #DC243E 34px, #DC243E 36px, white 36px);
        background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 34px, #DC243E 34px, #DC243E 36px, white 36px);
        -webkit-background-size: 100% 100%, 100% 100%, 100% 36px;
                background-size: 100% 100%, 100% 100%, 100% 36px;
        line-height: 36px; }
    .user-list .user-list__info {
      width: -webkit-calc(100% - 52px);
      width: calc(100% - 52px);
      padding: 0 0 0 20px; }
  .settings {
    padding-bottom: 20px; }
    .settings .switch-box {
      margin: 40px 0; }
      .settings .switch-box > span {
        font-size: 24px; }
    .settings .btn {
      padding: 10px 50px;
      font-size: 25px; }
  .header-settings {
    max-width: 37px; }
  .profile-name {
    padding: 30px 30px; }
    .profile-name h2 {
      margin: 0; }
    .profile-name span {
      font-size: 18px; }
  .profile-address {
    padding: 25px 30px; }
    .profile-address span {
      font-size: 25px; }
  .profile-story h2 {
    padding: 25px 30px; }
  table tr td {
    padding: 16px 10px;
    font-size: 16px;
    vertical-align: middle; }
    table tr td:first-child {
      padding-left: 30px; }
    table tr td:last-child {
      padding-right: 30px; }
  table .btn {
    min-width: 110px;
    padding: 10px 14px;
    font-size: 15px; }
  .story-number {
    width: 31px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    font-size: 16px; }
  .story-name {
    width: 190px; }
  .contacts {
    padding: 30px 0 0; }
    .contacts .btn-red {
      margin-bottom: 50px; }
  .contacts-img {
    margin: 0 auto 35px; }
  .contacts-item {
    margin-bottom: 25px; }
    .contacts-item h3 {
      margin-bottom: 10px; }
  .contacts-item__icon {
    padding: 0 0 0 40px;
    font-size: 25px; }
  .icon-tel::before, .icon-mail::before {
    top: 5px;
    width: 25px;
    height: 25px; }
  .soc-btn {
    list-style: none; }
    .soc-btn li {
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle; }
      .soc-btn li a {
        max-width: 49px; }
  .btn-gradient {
    height: 78px;
    padding: 0 30px;
    font-size: 25px; } }

@media only screen and (max-width: 550px) {
  header {
    height: 50px;
    padding: 0 15px; }
  .content {
    padding: 0 0 45px; }
  header .logo {
    max-width: 20px; }
  .header-city__curent {
    font-size: 14px; }
    .header-city__curent::before {
      top: 8px; }
  .promocode-btn {
    width: 106px;
    height: 24px;
    line-height: 24px;
    font-size: 12px; }
  .header-tel {
    max-width: 18px; }
  .menu-rolls li {
    margin: 0 7px; }
    .menu-rolls li a {
      font-size: 14px; }
  .product-item {
    padding: 10px 0;
    margin-bottom: 10px; }
  .product-like {
    width: 27px;
    height: 27px;
    font-size: 8px; }
    .product-like::before {
      width: 15px;
      height: 13px; }
  .product-item__name {
    min-height: 35px;
    font-size: 16px;
    line-height: 16px; }
  .plus-minus__count {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px; }
  .product-item__info .plus-minus__count {
    margin-bottom: 12px; }
  .product-item__weight {
    font-size: 12px; }
  .product-item__info .btn {
    padding: 5px 0;
    width: 80px;
    font-size: 14px; }
  .rolls-gift {
    height: 50px; }
  .rolls-gift__title {
    font-size: 13px; }
  .rolls-gift__price {
    top: 11px;
    width: 51px; }
    .rolls-gift__price::before {
      height: 3px;
      top: 55%; }
    .rolls-gift__price span {
      padding: 4px 6px;
      font-size: 11px; }
  .main-menu li {
    height: 45px; }
    .main-menu li a {
      padding: 0 10px;
      font-size: 12px; }
  .modal {
    width: 90%;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  .red-title {
    font-size: 18px; }
    .red-title span {
      padding: 8px 20px; }
      .red-title span + br + span {
        top: 8px; }
  .footnote {
    font-size: 16px; }
  .home-btn .btn {
    padding: 10px 30px;
    font-size: 18px; }
  .promocode-box {
    padding: 0 15px; }
    .promocode-box input {
      width: 110px;
      height: 24px;
      font-size: 12px; }
  *::-webkit-input-placeholder {
    font-size: 12px; }
  *:-moz-placeholder {
    font-size: 12px; }
  *::-moz-placeholder {
    font-size: 12px; }
  *:-ms-input-placeholder {
    font-size: 12px; }
  .header-close img {
    max-width: 15px; }
  .icon-check {
    position: absolute;
    right: 120px;
    top: 19px;
    width: 19px;
    height: 15px; }
  .icon-check {
    right: 60px;
    top: 16px;
    width: 19px;
    height: 15px; }
  .search-form input {
    display: block;
    padding: 0 25px 0 15px;
    height: 24px;
    font-size: 12px; }
  .search-form button {
    right: 10px;
    top: 3px; }
    .search-form button img {
      max-width: 15px; }
  .btn-back img {
    max-width: 13px; }
  .header-city__box {
    padding: 0 15px; }
  .header-city__list {
    top: 50px;
    padding-top: 10px; }
    .header-city__list li {
      padding: 0 25px; }
      .header-city__list li a {
        padding: 12px 0 12px 15px;
        font-size: 15px; }
        .header-city__list li a::before {
          width: 3px;
          height: 3px; }
  .product-cart .product-like {
    width: 46px;
    height: 46px;
    font-size: 12px; }
    .product-cart .product-like::before {
      width: 23px;
      height: 22px; }
  .product-cart {
    padding: 10px 0 0; }
  .product-cart__img {
    padding: 30px 30px 90px; }
  .my-cart {
    width: 113px;
    height: 70px;
    -webkit-border-radius: 25px 0 0 25px;
            border-radius: 25px 0 0 25px; }
    .my-cart img {
      max-width: 42px; }
    .my-cart span {
      top: 10px;
      right: 24px;
      width: 24px;
      height: 24px;
      font-size: 9px; }
  h1 {
    font-size: 18px; }
  p {
    font-size: 14px; }
  .product-cart__info {
    padding: 30px 15px 0; }
  .additives-item button {
    width: 24px;
    height: 24px; }
    .additives-item button span {
      font-size: 18px; }
  .additives-item .btn {
    width: 70px;
    height: 28px;
    line-height: 28px;
    font-size: 14px; }
  .additives-item > span {
    width: 60%;
    font-size: 14px; }
  .product-cart__total .btn {
    width: 112px;
    height: 38px;
    line-height: 38px;
    font-size: 16px; }
  .product-cart__total > span {
    font-size: 16px; }
  .header-current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-current > span {
      padding: 0 0 0 10px;
      font-size: 18px; }
    .header-current > a {
      max-width: 12px; }
      .header-current > a img {
        display: block; }
  .header-current + .promocode .promocode-btn {
    left: 0; }
  .cart-item__wrap {
    padding: 0 15px 30px; }
  .container {
    padding: 0 15px; }
  .cart-item__name {
    font-size: 15px;
    margin-bottom: 15px; }
  .cart-item__price {
    font-size: 15px; }
  .cart-item__remove {
    width: 28px;
    height: 28px;
    font-size: 26px;
    line-height: 25px; }
  .cart .additives {
    margin-bottom: 30px; }
  .radio-box h2 {
    margin-bottom: 15px; }
  .radio-list li {
    margin-bottom: 15px; }
  .radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    font-size: 14px;
    padding: 0 0 0 30px; }
  .radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    top: -2px;
    width: 20px;
    height: 20px; }
  .radio-list [type="radio"]:checked + label:after {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 4px; }
  h2 {
    font-size: 20px;
    margin-bottom: 15px; }
  .cart-total {
    padding: 20px 15px; }
    .cart-total span {
      font-size: 18px; }
    .cart-total strong {
      font-size: 18px; }
  .footer-btn__wrap {
    padding: 10px 15px; }
    .footer-btn__wrap .btn {
      height: 38px;
      line-height: 36px;
      font-size: 20px;
      -webkit-border-radius: 6px;
      border-radius: 4px; }
  .sea-bg {
    padding: 0;
    min-height: -webkit-calc(100vh - 95px);
    min-height: calc(100vh - 95px); }
    .sea-bg .logo-big img {
      max-width: 38%; }
    .sea-bg .btn {
      max-width: 80%;
      height: 40px;
      line-height: 38px;
      font-size: 16px; }
    .sea-bg h2 {
      font-size: 19px;
      margin: 30px 0; }
  .order-details {
    padding: 20px 15px 0; }
    .order-details h3 {
      margin-bottom: 10px; }
  .order-details .form-input {
    height: 34px;
    font-size: 18px;
    margin-bottom: 20px; }
  .order-check {
    margin-bottom: 30px; }
    .order-check > span {
      font-size: 18px; }
  .switch {
    width: 42px;
    height: 23px; }
  .switch-toggler:before {
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px; }
  input:checked + .switch-toggler:before {
    -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
            transform: translateX(18px); }
  .tabs-nav {
    margin-bottom: 20px; }
    .tabs-nav li a {
      padding-bottom: 10px;
      font-size: 16px; }
  .delivery {
    padding: 20px 0 10px; }
    .delivery h3 {
      margin-bottom: 10px;
      font-size: 16px; }
  .tabs-items {
    padding: 0 15px; }
  .form *::-webkit-input-placeholder {
    font-size: 15px; }
  .form *:-moz-placeholder {
    font-size: 15px; }
  .form *::-moz-placeholder {
    font-size: 15px; }
  .form *:-ms-input-placeholder {
    font-size: 15px; }
  .form-input {
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
    border-width: 2px; }
  h3.time-ic {
    padding: 0 0 0 40px;
    margin: 12px 0;
    font-size: 16px; }
    h3.time-ic::before {
      width: 28px;
      height: 28px;
      top: -4px; }
  .select-box__wrap {
    height: 40px; }
  .select-box {
    right: -15px;
    left: -15px;
    padding: 0 15px; }
    .select-box::after {
      width: 14px;
      height: 8px;
      right: 15px;
      top: 15px; }
    .select-box select {
      padding: 0 0 0 15px;
      font-size: 16px; }
  .pickup-form .radio-list {
    margin: 15px 0; }
  .pickup-form .btn-grey {
    padding: 0 30px;
    margin-bottom: 20px; }
  .btn-grey {
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 16px; }
  .card {
    padding: 20px 0 0; }
  .switch-box {
    margin: 15px 0 30px; }
    .switch-box > span {
      font-size: 18px; }
  .card-img {
    padding: 30px 0 20px; }
    .card-img img {
      max-width: 60px; }
  .payment {
    padding: 30px 0 0; }
    .payment h3 {
      margin-bottom: 20px; }
  .profile-phone {
    margin-bottom: 30px; }
    .profile-phone h3 {
      margin-bottom: 10px;
      font-size: 16px; }
    .profile-phone .form-input {
      margin-bottom: 20px;
      font-size: 18px; }
  .profile-number__form *::-webkit-input-placeholder {
    font-size: 16px; }
  .profile-number__form *:-moz-placeholder {
    font-size: 16px; }
  .profile-number__form *::-moz-placeholder {
    font-size: 16px; }
  .profile-number__form *:-ms-input-placeholder {
    font-size: 16px; }
  .header-plus {
    max-width: 30px; }
  .edit-btn {
    width: 31px; }
  .edit-ic {
    width: 31px;
    height: 31px; }
    .edit-ic::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px; }
  .user-list {
    padding: 0 0 10px; }
    .user-list li {
      padding: 15px; }
      .user-list li h4 {
        font-size: 12px; }
      .user-list li textarea {
        font-size: 16px;
        line-height: 26px; }
      .user-list li input {
        font-size: 16px;
        border-width: 1px; }
      .user-list li.active textarea {
        background-image: -webkit-linear-gradient(left, white 0px, transparent 0px), -webkit-linear-gradient(right, white 0px, transparent 0px), -webkit-linear-gradient(white 25px, #DC243E 25px, #DC243E 26px, white 26px);
        background-image: -o-linear-gradient(left, white 0px, transparent 0px), -o-linear-gradient(right, white 0px, transparent 0px), -o-linear-gradient(white 25px, #DC243E 25px, #DC243E 26px, white 26px);
        background-image: linear-gradient(left, white 0px, transparent 0px), linear-gradient(right, white 0px, transparent 0px), linear-gradient(white 25px, #DC243E 25px, #DC243E 26px, white 26px);
        -webkit-background-size: 100% 100%, 100% 100%, 100% 36px;
                background-size: 100% 100%, 100% 100%, 100% 36px;
        line-height: 36px; }
    .user-list .user-list__info {
      width: -webkit-calc(100% - 31px);
      width: calc(100% - 31px);
      padding: 0 0 0 15px; }
  .settings .switch-box {
    margin: 25px 0; }
    .settings .switch-box > span {
      font-size: 15px; }
  .settings .btn {
    padding: 6px 30px;
    font-size: 15px; }
  .header-settings {
    max-width: 22px; }
  .profile-name {
    padding: 20px 15px;
    border-width: 1px; }
    .profile-name span {
      font-size: 12px; }
  .profile-address {
    padding: 15px 15px;
    border-width: 1px; }
    .profile-address span {
      font-size: 16px; }
  .profile-story h2 {
    padding: 15px 15px;
    margin: 0; }
  table tr td {
    padding: 10px 5px;
    font-size: 12px; }
    table tr td:first-child {
      padding-left: 15px; }
    table tr td:last-child {
      padding-right: 15px; }
  table .btn {
    min-width: 65px;
    padding: 5px 8px;
    font-size: 10px; }
  .story-number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px; }
  .story-name {
    width: 140px; }
  .contacts {
    padding: 30px 0 0; }
    .contacts .btn-red {
      margin-bottom: 30px; }
  .contacts-img {
    margin: 0 auto 30px; }
  .contacts-item {
    margin-bottom: 20px; }
    .contacts-item h3 {
      margin-bottom: 5px; }
  .contacts-item__icon {
    padding: 0 0 0 25px;
    font-size: 20px; }
  .icon-tel::before, .icon-mail::before {
    top: 2px;
    width: 18px;
    height: 18px; }
  .soc-btn {
    list-style: none; }
    .soc-btn li {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle; }
      .soc-btn li a {
        max-width: 30px; }
  .btn-gradient {
    height: 50px;
    padding: 0 15px;
    font-size: 20px; } }

@media only screen and (max-width: 400px) {
  table tr td {
    padding: 10px 5px;
    font-size: 9px; }
  .story-name {
    width: 110px; } }

@media only screen and (max-width: 350px) {
  .menu-rolls li {
    margin: 0 5px; }
    .menu-rolls li a {
      font-size: 13px; }
  .cart-item__name {
    font-size: 13px; } }
