@font-face
  font-family: 'SFProText'
  src: url('../fonts/SFProText/SFProText-Regular.woff2') format("woff2"), url('../fonts/SFProText/SFProText-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SFProDisplay'
  src: url('../fonts/SFProDisplay/SFProDisplay-Bold.woff2') format("woff2"), url('../fonts/SFProDisplay/SFProDisplay-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'SFProDisplay'
  src: url('../fonts/SFProDisplay/SFProDisplay-Regular.woff2') format("woff2"), url('../fonts/SFProDisplay/SFProDisplay-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Regular.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap