@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------


.page-wrap
	max-width: 768px
	position: fixed
	left: 0
	right: 0
	top: 0
	bottom: 0
	margin: 0 auto
	overflow-x: hidden
	overflow-y: auto
	width: 100%	
	height: 100%

	.container
		padding: 0 40px


.athleticsfit

	&-top
		padding: 10px 40px
		background: #F5F5F5
		text-align: center
		color: #747474
		font-size: 15px
		line-height: 20px

	&-header
		padding: 20px 40px
		font-family: Oswald
		font-size: 28px
		line-height: 27px
		text-align: center
		box-shadow: 0px 2.08611px 2.08611px rgba(0, 0, 0, 0.25)

	&-text
		padding: 20px 0 30px
		font-family: SFProDisplay
		font-style: normal
		font-size: 34px
		line-height: 41px
		letter-spacing: -0.02em

		strong
			font-weight: bold

	&-step

		&__item
			margin-bottom: 50px


			&--header
				margin-bottom: 15px
				font-size: 15px
				line-height: 20px

	&-code
		display: flex
		align-items: center
		justify-content: space-between
		padding: 0 16px
		height: 60px
		background: #F9F9F9
		border-radius: 8px
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25)

		&__val
			font-size: 15px

		&__copy
			display: inline-block
			padding: 3px 20px 5px
			outline: none
			border: 0
			background: #824CEB
			border-radius: 10px
			font-size: 15px
			font-weight: 500
			color: #fff

			&:active
				background: #824CB5


	&-app
		display: flex
		justify-content: space-between
		margin-left: -10px
		margin-right: -10px
		max-width: 362px

		&__item
			padding-left: 10px
			padding-right: 10px

		img
			max-width: 100%


@media screen and (max-width: 370px)
	.page-wrap
		.container
			padding: 0 15px

	.athleticsfit

		&-top
			padding: 10px 15px
			font-size: 14px

		&-header
			padding: 15px
			font-size: 25px

		&-text
			font-size: 30px
			line-height: 36px

		&-step

			&__item
				margin-bottom: 30px